*{
    margin: 0;
    padding: 0;
    border: 0;
}
.container{
    padding: 20px;
}
.inline{
    display: inline-block;
}
.bordes{
    padding: 10px;
    border: 1px solid black;
}
.ini_reg{
    margin-bottom: 10px;
}
.input{
    border: 1px solid black;
    padding: 5px;
}
#inicio_sesion{
    vertical-align: top;
}
#mensajealerta1{
    width: 660px;
}
.submit{
    padding: 10px;
    background-color: blue;
    margin: 10px 0px 10px 80px;
    color: white;
    border-radius: 10px;
}
.utilidades{
    margin-left: 1100px;
}
.enlace_superior{
    font-size: 20px;
}
#reseñas{
    margin-top: 50px;
    margin-left: 300px;
    width: 500px;
}
#titulo_reseña{
    margin-left: 200px;
    margin-top: 100px;
}
.h4{
    font-size: 30px;
}